{% extends "adminbase.twig" %}
{% block content %}

<!-- start: PAGE HEADER -->
<div class="row">
	<div class="col-sm-12">
		<!-- start: PAGE TITLE & BREADCRUMB -->
		<ol class="breadcrumb">
			<li>
				<i class="clip-home-3"></i>
				<a href="{{ADMIN_ROOT_URL}}/dashboard">
				{{lang.category1}}
				</a>
			</li>
			<li>
				<a href="{{ADMIN_ROOT_URL}}/categories">
				{{lang.category2}}
				</a>
			</li>
			</li>
			<li class="active">
				{{lang.category8}}
			</li>
			
			{% include 'searchbox.twig' %}

		</ol>
		<div class="row page-header">
			<div class="col-md-6">
				<h1>{{lang.category8}}</h1>
			</div>
		</div>
		<!-- end: PAGE TITLE & BREADCRUMB -->
	</div>
</div>
<!-- end: PAGE HEADER -->

<!-- start: PAGE CONTENT -->
<form role="form" class="form-horizontal form-user" method="post" action="{{ADMIN_ROOT_URL}}/categories/add" enctype="multipart/form-data">

    {% include 'categories_form.twig' %}
    
	<div class="row">
		<div class="col-md-12 right">
			<input type="submit" class="btn btn-primary" value="{{lang.category8}}" / >
		</div>
	</div>
	
</form>
		
{% endblock %}

{% block pageScript %}
    <script src="{{ROOT_URL}}/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="{{ROOT_URL}}/assets/js/sp-validator.js"></script>
	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script>

        var runUserFormValidator = function () {
            var form = $('.form-user');
            var errorHandler = $('.errorHandler', form);
            form.validate({
                rules: {
                    username: {
                        minlength: 6,
                        loginRegex: true,
                        required: true
                    },
                    password: {
                        minlength: 6,
                        loginRegex: true,
                        required: true
                    },
                    password_confirm: {
                        equalTo: '#input_password'
                    },
                    firstname: {
                        required: true
                    },
                    lastname: {
                        required: true
                    }
                },
                submitHandler: function (form) {
                    errorHandler.hide();
                    form.submit();
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    errorHandler.show();
                }
            });
        };
        
		jQuery(document).ready(function() {
			SpValidator.initValidator();
			runUserFormValidator();
		});
		
	</script>
{% endblock %}
