{% extends "adminbase.twig" %}

{% block content %}

					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
        
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-home-3"></i>
									<a href="{{ADMIN_ROOT_URL}}/dashboard">
										{{lang.general11}}
									</a>
								</li>
								<li>
									<a href="{{ADMIN_ROOT_URL}}/groups">
									    {{lang.groups1}}
                                    </a>
								</li>
								<li class="active">
									{{lang.groups4}}
								</li>
								
								{% include 'searchbox.twig' %}
								
							</ol>
							<div class="row page-header">
							    <div class="col-md-6">
								    <h1>{{lang.groups4}}</h1>
								</div>
							</div>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
					                
                	{% include 'alert.twig' %}
	
                    <form role="form" class="form-horizontal form-groups" method="post" action="{{ADMIN_ROOT_URL}}/groups/add" enctype="multipart/form-data">

                        <div class="row">
                    		<div class="col-md-9">
                    			
                        		<div class="form-group">
                        			<div class="col-sm-2" for="form-field-1">
                        			    
                        			</div>
                        			<div class="col-sm-9">
                                        {{lang.users53}} ( {{usage}} of {{limit}} )
                                        <div class="progress">
                                        	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{persentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{persentage}}%">
                                        		<span class="sr-only"> {{persentage}} % </span>
                                        	</div>
                                        </div>
                    
                        			</div>
                        		</div>
                    		
                            </div>
                        </div>
                    
                        {% include 'groups_form.twig' %}
                        
                    	<div class="row">
                    		<div class="col-md-12 right">
                    			<input type="submit" class="btn btn-primary" value="{{lang.groups6}}" / >
                    		</div>
                    	</div>
                    	
                    </form>

{% endblock %}


{% block pageScript %}
    <script src="{{ROOT_URL}}/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="{{ROOT_URL}}/assets/js/sp-validator.js"></script>
	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script>

        var runGroupFormValidator = function () {
            var form = $('.form-groups');
            var errorHandler = $('.errorHandler');
            form.validate({
                rules: {
                    name: {
                        minlength: 2,
                        required: true
                    }
                },
                submitHandler: function (form) {
                    errorHandler.hide();
                    form.submit();
                },
                invalidHandler: function (event, validator) {
                    errorHandler.show();
                }
            });
        };
        
		jQuery(document).ready(function() {
			SpValidator.initValidator();
			runGroupFormValidator();
		});
		
	</script>
{% endblock %}

