	<div class="row">

		<div class="col-md-9">
			
    		<div class="form-group">
    			<label class="col-sm-2 control-label" for="form-field-1">
    			{{lang.groups8}}
    			</label>
    			<div class="col-sm-9">
    				<input type="text" name="name" {% if mode == 'add' %}placeholder="{{lang.groups8}}"{% endif %} id="form-field-1" class="form-control" value="{{form.name}}">
    			</div>
    		</div>
			
    		<div class="form-group">
    			<label class="col-sm-2 control-label" for="form-field-1">
    			{{lang.category2}}
    			</label>
    			<div class="col-sm-9">
    			    <select name="category" class="form-control" >
    			        
                        {% for id, name in categoryList %}
                            <option value="{{ id }}" {% if form.category == id %} selected {% endif %}>{{ name }}</option>
                        {% endfor %}
    			        
    			    </select>
    			</div>
    		</div>
			

		</div>
	</div>
    
    <input type="hidden" name="id" value="{{form.id}}">
