	<div class="row">

		<div class="col-md-9">
			
    		<div class="form-group">
    			<label class="col-sm-2 control-label" for="form-field-1">
    			{{lang.news5}}
    			</label>
    			<div class="col-sm-9">
    				<input type="text" name="title" id="form-field-1" class="form-control" value="{{form.title}}">
    			</div>
    		</div>
			
    		<div class="form-group">
    			<label class="col-sm-2 control-label" for="form-field-1">
    			{{lang.news6}}
    			</label>
    			<div class="col-sm-9">
    			    <textarea rows="10" name="body" class="form-control" >{{form.body}}</textarea>
    			</div>
    		</div>
			

		</div>
	</div>
    
    <input type="hidden" name="id" value="{{form.id}}">
