{% extends "adminbase.twig" %}

{% block content %}

					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
        
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-home-3"></i>
									<a href="{{ADMIN_ROOT_URL}}/dashboard">
										{{lang.users1}}
									</a>
								</li>
								<li class="active">
									{{lang.users2}}
								</li>
								
								{% include 'searchbox.twig' %}
								
							</ol>
							<div class="row page-header">
							    <div class="col-md-6">
								    <h1>{{lang.users3}} <small> {{lang.users4}}</small></h1>
								</div>
								<div class="col-md-6 right">
								    <a class="btn btn-primary" href="{{ADMIN_ROOT_URL}}/users/add"><i class="fa fa-plus"></i> {{lang.users5}}</a>
								</div>
							</div>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
					

                    {% include 'alert.twig' %}
                        
					{% include 'paginator.twig' %}
					
					<div class="row">
					    <div class="col-md-12">

                            <table class="table table-hover" id="sample-table-1">
								<thead>
									<tr>
										<th>#</th>
										<th>{{lang.users43}}</th>
										<th class="hidden-xs">{{lang.users46}}</th>
										<th class="hidden-xs">{{lang.users47}}</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								
                                    {% for row in list %}

                    				    <tr>
    										<td>
										        {{row.id}}
                                            </td>
    										<td>
										        {{row.email}}
                                            </td>
    										<td class="hidden-xs">{%  if row.is_valid == 1 %} Yes {% else %} No {% endif %}</td>
    										<td class="hidden-xs">{{row.created|date("Y.m.d")}} </td>
    										<td class="right">
    										    
    										    {% if row.is_admin == 0 %}
    										    
        										<div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    
                                                    {%  if row.is_valid == 1 %}
                                                        
                                                         <a class="btn btn-primary" href="{{ADMIN_ROOT_URL}}/users/disable/{{row.id}}">{{lang.users49}}</a>
                                                        
                                                    {% else %}
                                                        
                                                         <a class="btn btn-primary" href="{{ADMIN_ROOT_URL}}/users/resend/{{row.id}}">{{lang.users50}}</a>
                                                        
                                                    {% endif %}
                                                    
        										</div>
        										
        										{% endif %}
        										
    										</td>
    									</tr>
									
                                    {% endfor %}
								</tbody>
							</table>
                        </div>
					</div>
                    
                    {% include 'paginator.twig' %}

{% endblock %}