{% extends "adminbase.twig" %}
{% block content %}

<!-- start: PAGE HEADER -->
<div class="row">
	<div class="col-sm-12">
		<!-- start: PAGE TITLE & BREADCRUMB -->
		<ol class="breadcrumb">
			<li>
				<i class="clip-home-3"></i>
				<a href="{{ADMIN_ROOT_URL}}/dashboard">
				{{lang.users1}}
				</a>
			</li>
			<li>
				<a href="{{ADMIN_ROOT_URL}}/users">
				{{lang.users2}}
				</a>
			</li>
			</li>
			<li class="active">
				{{lang.users5}}
			</li>
			
			{% include 'searchbox.twig' %}

		</ol>
		<div class="row page-header">
			<div class="col-md-6">
				<h1>{{lang.users5}}</h1>
			</div>
		</div>
		<!-- end: PAGE TITLE & BREADCRUMB -->
	</div>
</div>
<!-- end: PAGE HEADER -->

{% include 'alert.twig' %}

	
<!-- start: PAGE CONTENT -->
<form role="form" class="form-horizontal form-user" method="post" action="{{ADMIN_ROOT_URL}}/users/add" enctype="multipart/form-data">

	<div class="col-md-9">
		
		<div class="form-group">
			<div class="col-sm-2" for="form-field-1">
			    
			</div>
			<div class="col-sm-9">
                {{lang.users53}} ( {{usage}} of {{limit}} )
                <div class="progress">
                	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{persentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{persentage}}%">
                		<span class="sr-only"> {{persentage}} % </span>
                	</div>
                </div>

			</div>
		</div>
	
    </div>
    
	<div class="col-md-9">
		
		<div class="form-group">
		
			<label class="col-sm-2 control-label" for="form-field-1">
			    {{lang.users9}}
			</label>
			<div class="col-sm-4">
				<input type="text" name="firstname" placeholder="{{lang.users9}}" id="form-field-1" class="form-control" value="{{form.firstname}}">
			</div>
			
			<label class="col-sm-2 control-label" for="form-field-2">
			    {{lang.users10}}
			</label>
			<div class="col-sm-4">
				<input type="text" name="lastname" placeholder="{{lang.users10}}" id="form-field-2" class="form-control" value="{{form.lastname}}">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="form-field-3">
			    {{lang.users43}}
			</label>
			<div class="col-sm-10">
				<input type="text" name="email" placeholder="{{lang.users44}}" id="form-field-3" class="form-control" value="{{form.email}}">
			</div>
		</div>
	
    </div>

<div class="row">
	<div class="col-md-12 right">
		<input type="submit" class="btn btn-primary" value="{{lang.users45}}" / >
	</div>
</div>
	
</form>
		
{% endblock %}

{% block pageScript %}
    <script src="{{ROOT_URL}}/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="{{ROOT_URL}}/assets/js/sp-validator.js"></script>
	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script>

        var runUserFormValidator = function () {
            var form = $('.form-user');
            var errorHandler = $('.errorHandler', form);
            form.validate({
                rules: {
                    firstname: {
                        required: true
                    },
                    lastname: {
                        required: true
                    },
                    email: {
                        email: true,
                        required: true
                    }
                },
                submitHandler: function (form) {
                    errorHandler.hide();
                    form.submit();
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    errorHandler.show();
                }
            });
        };
        
		jQuery(document).ready(function() {
			SpValidator.initValidator();
			runUserFormValidator();
		});
		
	</script>
{% endblock %}
