{% extends "acceptInvitaiton/base.twig" %}

{% block content %}

    <div class="container">
        
        {% include "alert.twig" %}
        
        <form class="form-signin" method="post" action="{{ROOT_URL}}/accept/accept">
        
            <h2 class="form-signin-heading">{{lang.invitation1}}</h2>
            <p>
            {{lang.invitation2}} <strong>{{organization.name}}</strong><br />
            {{lang.invitation3}}
            </p>
            
            <input type="hidden" name="code" value="{{code}}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{lang.invitation4}}</button>
            
        </form>

    </div> <!-- /container -->					

{% endblock %}